<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.prematurebabyandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrematureBabyAndroid">
        <activity android:name=".EngineerDiaryActivity"
            android:label="Service Mode"/>
        <activity android:name=".EngineerLandingActivity" />
        <activity android:name=".HomePageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClinicianFoundPatientActivity"
            android:label="Patient Found"
            android:parentActivityName=".ClinicianLandingActivity" />
        <activity
            android:name=".ClinicianNewMeasurementActivity"
            android:label="Add New Measurement"
            android:parentActivityName=".ClinicianLandingActivity"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".SummaryActivity"
            android:label="Patient Summary"
            android:parentActivityName=".ClinicianLandingActivity" />
        <activity
            android:name=".ClinicainDiaryActivity"
            android:label="Patient Activity"
            android:parentActivityName=".ClinicianLandingActivity" />
        <activity
            android:name=".ClinicianLandingActivity"
            android:label="Search for a Patient">
        </activity>
    </application>

</manifest>