<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.prematurebabyandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrematureBabyAndroid">
        <activity android:name=".FoundPatientActivity" android:label="Patient Found" android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".NewMeasurementActivity"
            android:label="Add New Measurement"
            android:parentActivityName=".MainActivity"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".SummaryActivity"
            android:label="Patient Summary"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DiaryActivity"
            android:label="Diary Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>